@import "_reset";
@import "_variables";
@import "buttons";
@import "mixins";
@import "../../bower_components/animatewithsass/animate.scss";

body {
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
}

img {
  width: 100px;
}

h1 {
  @include rubberBand();
  @include testContainer(white, "odd");
}

span {
  display: block;
  color: lightgray;
  font-size: 16px;
  margin-bottom: 15px;
}

a {
  @extend %button;
  text-decoration:none;
}

button {
  @extend %button;
  border:none;
  &:focus {
    outline: 0;
  }
  @include bounce();
}

